@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css?family=Cormorant+Garamond:300,300italic,regular,italic,500,500italic,600,600italic,700,700italic&display=swap&subset=cyrillic-ext');

@font-face {
   font-family: 'Monomakh Unicode TT';
   src: url('../fonts/MonomakhUnicodeTT.woff2') format('woff2'), url('../fonts/MonomakhUnicodeTT.woff') format('woff');
   font-weight: 500;
   font-style: normal;
   font-display: swap;
}

/* Стили обнуления */
*,
*::before,
*::after {
   margin: 0;
   padding: 0;
   border: 0;
}
li {
   list-style: none;
}
a,
a:visited {
   text-decoration: none;
}
a:hover {
   text-decoration: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
   font-weight: inherit;
   font-size: inherit;
}
img {
   vertical-align: top;
}
/* //////////////////////////////////////////////////////////////////////*/

   

header .link {
   color: black;
   font-family: 'Monomakh Unicode TT' ;
   font-weight: 500;
   font-size: 15px;
   line-height: 200%;
}
main {
   font-family: 'Pacifico';
}
h1 {
   font-family: 'Cormorant Garamond';
   font-weight: 700;
   font-size: 30px;
   text-align: center;
   text-decoration: underline;
   text-shadow: 2px 2px 2px rgb(223, 38, 115);
   letter-spacing: 5px;
   line-height: 200%;
   text-transform: uppercase;
}
.text__item {
   text-align: center;
}
.paragraph {
   text-indent: 15px;
}
.list__text span {
   color: cornflowerblue;
}
.paragraph-1 {
   text-indent: 15px;
}
.list__text p {
   text-align: justify;
}
.subtitle {
   text-align: left ;
   text-decoration: underline;
   color: crimson;
   font-size: 25px;
   letter-spacing: 5px ;
   text-shadow: 1px 1px 1px dimgray, -3px 3px 2px rgb(46, 34, 34) ; 
}
.list__text2 p {
   text-align: justify;
   word-spacing: 10px;
   text-indent: 20px;
}
.subtitle-1 {
   text-align: center;
   text-decoration: overline;
   color: dodgerblue;
   font-size: 25px;
   text-shadow: 2px 2px 12px rgb(162, 162, 231), -2px 2px 7px blue;
   }
   .list__text3 span {
      text-transform: uppercase;
      text-align: justify;
      text-decoration: line-through;

   }
   .subtitle-2 {
      text-align: right;
      font-size: 25px;
      letter-spacing: 5px;
      line-height: 300%;
      color: green;
      text-shadow: 3px 3px 1px greenyellow;

   }
   ol span {
      text-transform: uppercase;
   }
   ol {
      text-align: right;
   }
footer a {
   font-family: 'Cormorant Garamond';
   font-size: 20px;
   text-decoration: underline;
   color: indigo;
   font-weight: 700;
}
h3 + p {
   text-align: center;
}